@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    background-color: white;
    color: #007002;
}

/* INDEX */
#buttom_i {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.btn-acessar {
    text-decoration: none;
    background: linear-gradient(135deg, rgb(0, 112, 2), rgb(4, 181, 7));
    color: white;
    padding: 18px 40px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.25);
    transition: 0.3s;
}

.btn-acessar:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 25px rgba(0,0,0,0.35);
}

/* FOOTER */
#footer {
    font-size: small;
    text-align: left;
    background-color: rgb(93, 155, 0);
    color: white;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100vw;
}

#footer a {
    text-decoration: none;
    color: white;
}

#footer p {
    text-align: center;
    margin-top: 30px;
}

/* LOGIN */



section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    transform: translate(-50%, -50%);
}

#formulario h1 {
    margin-bottom: 10px;
    font-size: 20px;
}

#formulario p {
    font-size: 0.8em;
    margin-bottom: 15px;
}

.campo {
    margin: 20px;
}

.campo input {
    width: 100%;
    padding: 10px;
    border-radius: 18px;
    border: none;
    background-color: #ECF0F1;
}

form input[type=submit] {
    width: 100%;
    padding: 10px;
    background-color: #007002;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1em;
    cursor: pointer;
    transition: 0.3s;
}

form input[type=submit]:hover {
    background-color: #2bff00;
}

.btn-voltar {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #007002;
    font-weight: bold;
}
